

div {
	width: 100%;
	background-color:	#009246;
	min-height:  200px;
	font-size: 10px;
	
	
	
}

p {
	font-size: 15px;
	color:white;
	
	
}


}

.one {
	width: 100%;
	background:yellow;
	margin: 0 auto 0 auto;
}
}

h2 {
	color: blue;
}


	.container {
	width: 100%;
	background:	#ffffff;;
	height: 200px;
}


.last {
	width: 100%;
	background:	#ce2b37	;
	height: 200px;
}
	


h3 {
	font-size: 20px;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 15px;
}
