wrapper {
	width: 100%;
	background:white;
	margin: 0 auto 0 auto;
}

.Heading {
	height: 200px;
	background: aquamarine;
	padding: 20px;
	text-align: center;
}

.navigation {
	height: 70px;
	background: forestgreen;
}

.content {
	min-height: 400px;
	background-color: aqua;
	width: 700px;
	float: left;
	
}


.sidebar {
	width: 700px;
	float:right;
	background-color: yellow;
	min-height: 420px;
}

.footer {
	clear: both;
	background-color: black;
	height: 40px;
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 20px;	
}

img {
	float: left;
	position: relative;
	
}

h1 {
	font-size: 80px;
	text-align: center;
	font-style: italic;
	color: gray;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 30px;
	
}

li {
	float: right;
	padding: 15px;
	border-left: 2px solid orange;
	border- right: 2px solid orange;
	border-bottom: 2px solid orange;
	border-top: 2px solid orange;
	background-color: black;
	
	}
li a{
	display: inline-block ;
	text-decoration: none;
	text-align: center;
	
	}
li:hover{
	background-color: aliceblue;
	color: blanchedalmond;
	}

p {
	font-size: 30px;
	font-style: oblique;
	
}

p1 {
	
	font-size: 30px;
	font-style: oblique;
	

}

p2 {
	text-align: center;
	float: left;
	font-size: 20px;
}

input[type=text]{
    
    width:100%;
     background-color: whitesmoke;
   margin-bottom: 5px ;
	padding: 10px;
    
}
input[type=submit]{
    
    width: 100%;
    background-color: skyblue;
    margin-top: 20px;
	padding: 20px;
    
  }
form {
	font-size: 30px;
	padding: 10px;
}

